/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #517ca5, #30346d);
    color: #fff;
    min-height: 100vh;
}

button {
    background-color: #102F5e;
    color: #FDFDFD;
    border: 2px solid #102F5e;
    cursor: pointer;
    padding: .3rem .6rem;
    font-size: .8rem;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

button:hover {
    background-color: #102F5e;
    color: #fff;
}

button:hover>i {
    color: #fff;
}

button>i {
    color: #FDFDFD;
    font-size: bold;
    pointer-events: none;
}

input,
select {
    padding: 0.25rem 0.5rem;
}

.hide {
    display: none;
}

/* Todo container */
.todo-container {
    max-width: 450px;
    margin: 3rem auto;
    background-color: #FDFDFD;
    padding: 1.5rem;
    border-radius: 15px;
}

.todo-container header {
    text-align: center;
    padding-bottom: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}

#todo-form,
#edit-form {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

#todo-form p,
#edit-form p {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: .5rem;
    flex: 1;
}

#cancel-edit-btn {
    margin-top: 1rem;
}

.toolbar {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 1rem;
}

#toolbar h4 {
    margin-bottom: .5rem;
    font-weight: bold;
}

#search {
    border-right: 1px solid #DDD;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 60%;
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: 0.3rem;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select {
    flex: 1;
}

.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #DDD;
    transition: .3s;
}

.todo h3 {
    flex: 1;
    font-size: 0.9rem;
    font-weight: normal;
}

.todo button {
    margin-left: 0.4rem;
}

.done {
    background-color: #395169;
}

.done h3 {
    color: #FDFDFD;
    text-decoration: line-through;
    font-style: italic;
}